<%- include('partials/header'); -%>


<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label class="font-weight-bold" for="Title">Title</label>
        <input type="text" name = "title" class="form-control" required id="Title">
    </div>
    <div class="form-group">
        <label class="font-weight-bold" for="exampleFormControlTextarea">Post</label>
        <textarea class="form-control" name="textarea" id="exampleFormControlTextarea" required rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Publish</button>
</form>



<%- include('partials/footer'); -%>